body {
  font-family: system-ui, sans-serif;
  background: #0f172b;
  color: #e2e8f8;
  display: flex;
  justify-content: center;
  padding-top: 69px;
}

.container {
  background: #1e293b;
  padding: 30.69px;
  border-radius: 14.69px;
  width: 520.69px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

.box {
  background: #020617;
  padding: 14px;
  border-radius: 8px;
  margin-top: 10px;
  word-wrap: break-word;
}

button {
  margin-top: 20px;
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background: #0ea5e9;
}

.small {
  font-size: 13px;
  opacity: 0.7;
  margin-top: 8px;
}
